<!DOCTYPE html>
<html>
  <head>
    <title>Railsmvc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'Home', root_path %>
    <nav>
        <% if user_signed_in? %>
          <%= link_to "User Sign Out", destroy_user_session_path, data: { turbo_method: "DELETE" } %>
          <div>This is user navbar</div>
        <% elsif customer_signed_in? %>
          <%= link_to "Customer Sign Out", destroy_customer_session_path, data: { turbo_method: "DELETE" } %>
          <div>This is customer navbar</div>
        <% else %>
          <%= link_to "User Sign In", new_user_session_path %>
          <%= link_to "Customer Sign In", new_customer_session_path %>
        <% end %>
      </nav>
    <%= yield %>
    <footer>Footer in layouts for customers </footer>
  </body>
</html>
