<p style="color: green"><%= notice %></p>

<%= render "students/partials/student", student: @student %>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete, data: {turbo_confirm: 'Sure?'} %>
</div>
