<div id="<%= dom_id student %>">

  <%= image_tag student.image_url if student.image? %>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= student.birthday %>
  </p>

  <% student.grades.each do |grade| %>
    <p>
      <strong>Subject:</strong> <%= grade.subject %> <br>
      <strong>Semester:</strong> <%= grade.semester %> <br>
      <strong>Score:</strong> <%= grade.score %> <br>
    </p>
  <% end %>

</div>
