<%= render 'shared/search', path: students_path %>

<h1>Students</h1>

<div id="students">
  <% @students.each do |student| %>
  <%= render "moderators/students/partials/student", student: student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>

<%= link_to "New student", new_student_path %>


<%= paginate @students %>

<%= javascript_include_tag 'welcome_flash' %>
