<%= form_with(model: teacher, local: false, id: "#{dom_id(teacher)}_form", format: :js) do |form| %>
  <% if teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "#{dom_id(teacher)}_form_field" %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: "#{dom_id(teacher)}_form_field" %>
  </div>

    <div>
    <%= form.label :school_id, style: "display: block" %>
    <%= form.text_field :school_id, class: "#{dom_id(teacher)}_form_field" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
