<div>
  <%= form.remove_nested_fields_link %>
</div>

<div>
  <%= form.label :subject, style: "display: block" %>
  <%= form.select :subject, Grade.subjects.keys, prompt: 'Select subject' %>
</div>

<div>
  <%= form.label :semester, style: "display: block" %>
  <%= form.select :semester, Grade.semesters.keys, prompt: 'Select semester' %>
</div>

<div>
  <%= form.label :score, style: "display: block" %>
  <%= form.number_field :score %>
</div>

<div>
  <%= form.check_box :_destroy %>
  <%= form.label :_destroy, "Remove grade" %>
</div>
