<div id="<%= dom_id student %>">

  <%= link_to "Move Up", move_up_student_path(student), data: {turbo_method: :patch} %>
  <%= link_to "Move Down", move_down_student_path(student), data: {turbo_method: :patch} %>

  <%= image_tag student.image_url if student.image? %>

  <p>
    <strong>Full Name:</strong>
    <%= student.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= student.birthday %>
  </p>

  <% student.medias.each do |media| %>
    <% case media.file.extension %>
    <% when 'mp4' %>
      <%= video_tag(media, controls: true) %>
    <% else %>
      <%= audio_tag(media, controls: true) %>
    <% end %>
  <% end %>

  <% student.grades.each do |grade| %>
    <p>
      <strong>Subject:</strong> <%= grade.subject %> <br>
      <strong>Semester:</strong> <%= grade.semester %> <br>
      <strong>Score:</strong> <%= grade.score %> <br>
    </p>
  <% end %>

</div>
