<%= form_with(model: student_class, id: "#{dom_id(student_class)}_form") do |form| %>
  <% if student_class.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student_class.errors.count, "error") %> prohibited this student_class from being saved:</h2>

      <ul>
        <% student_class.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div data-controller='select-form', data-select-form-url-value='/student_classes/update_teachers'>
    <%= form.label :teacher_id, style: "display: block" %>
    <%= form.collection_select :teacher_id, Teacher.all, :id, :name, { prompt: "Select teacher"}, id: "teachers-dynamic-select", data: { action: 'click->select-form#change', select_form_target: 'select' } %>
  </div>

    <div data-controller='select-form', data-select-form-url-value='/student_classes/update_shools'>
    <%= form.label :school_id, style: "display: block" %>
    <%= form.collection_select :school_id, School.all, :id, :name, { prompt: "Select school"}, id: "schools-dynamic-select", data: { action: 'click->select-form#change', select_form_target: 'select' } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
