<p style="color: green"><%= notice %></p>

<%= render @student_class %>

<div>
  <%= link_to "Edit this student class", edit_student_class_path(@student_class) %> |
  <%= link_to "Back to student classes", student_classes_path %>

  <%= button_to "Destroy this student class", @student_class, method: :delete %>
</div>
